.container{
  background-color: black;
}

.row{
  background-color: rgb(3, 3, 3);
}

h6{
  color: black;
  
}


h2{
  color: white;
  background-color: black;
}

.containerdetalle{
  background-color: black;
  padding: 30px;
}

.containerdetallePlanets{
  background-color: black;
  padding: 30px;
  height:'38rem'
}





